table {
    border-collapse: collapse;
    width: 375px;
}

tr {
    height: 30px;
}

td {
    width: 30px;
    border: 5px solid black;
}

.yellow {
    background-color: yellow;
}

.black {
    background-color: black
}

.blue {
    background-color: blue;
}

.red {
    background-color: red;
}
