body {
    text-align: center;
}

div {
    color: #c94a68;
}

.hide {
    display: none;
}

.wrapper {
    border: 5px solid #9898b7;
    border-radius: 40px;
    margin: 50px auto 20px;
    width: 460px;
    height: 120px;
    text-align: center;
}

.position {
    display: inline-block;
    margin-top: 35px;
}

.btn-size {
    width: 100px;
    border-radius: 20px;
}

.btn-position {
    margin: 0 10px 0;
}
